{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static 'css/single-chat.css' %}>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <title>Chat</title>
</head>
<body>
<nav class="header navbar navbar-fixed-top">
    <span class="back" style="background-image: url('{% static 'img/back.svg' %}')">

    </span>
    <a class="navbar-right friend" href="">Ivan Ivanov</a>
</nav>
<div class="col-12 single-chat" id="scroll-bot">
    <div class="row">
        <div class="message from">
            <p>Hi how are u?</p>
            <span class="msg-time">20:09</span>
        </div>
    </div>
    <div class="row msg-row">
        <div class="message to">
            <p>Message here message here</p>
            <span class="msg-time">21:00</span>
        </div>
    </div>
    <div class="row msg-row">
        <div class="message to">
            <p>Message here message here message here message here message here message here message here
                message
                here message here
                message here message here message here message here</p>
            <span class="msg-time">21:43</span>
        </div>
    </div>
    <div class="row msg-row">
        <div class="message to">
            <p>Message here message here message here message here message here message here message here
                message
                here message here
                message here message here message here message here</p>
            <span class="msg-time">21:50</span>
        </div>
    </div>
    <div class="row">
        <div class="message from">
            <p>Message here message here message here message here message here message here message here
                message
                here message here
                message here message here message here message here</p>
            <span class="msg-time">22:00</span>
        </div>
    </div>
    <div class="row msg-row">
        <div class="message to">
            <p>Message here message here message here message here message here message here message here
                message</p>
            <span class="msg-time">22:03</span>
        </div>
    </div>
    <div class="row">
        <div class="message from">
            <p>Message here message here message here message here message here message here message here
                message
                here message here
                message here message here message here message here</p>
            <span class="msg-time">22:00</span>
        </div>
    </div>
    <div class="row msg-row">
        <div class="message to">
            <p>Message here message here message here message here message here message here message here
                message</p>
            <span class="msg-time">22:03</span>
        </div>
    </div>
</div>
<div class="footer navbar">
    <button class="attach">Attach</button>
    <textarea data-autoresize rows="1" class="send-message"></textarea>
    <button class="send">Send</button>
</div>
</body>
<script>
    {#    jQuery.each(jQuery('textarea[data-autoresize]'), function () {#}
    {#        var offset = this.offsetHeight - this.clientHeight;#}
    {##}
    {#        var resizeTextarea = function (el) {#}
    {#            jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);#}
    {#        };#}
    {#        jQuery(this).on('keyup input', function () {#}
    {#            resizeTextarea(this);#}
    {#        }).removeAttr('data-autoresize');#}
    {#    });#}
    var objDiv = document.getElementById("scroll-bot");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>
</html>