{% load static %}
<a href="{% url 'chat' %}">
    <div class="row chat">
        <div class="avatar"></div>
        <div class="content">
            <p class="chat-name">
                Ivan Petrov
            </p>
            <p class="chat-msg">
                Message here message here message here message here message here message here here message here
                message here message here message here
                here message here message here message here
            </p>
        </div>
    </div>
</a>