{% load static %}
<a href="{% url 'chat' chat.peer.pk %}">
    <div class="row chat">
        <span class="msg-time">{{ chat.last_message.time }}</span>
        <div class="avatar"></div>
        <div class="content">
            <p class="chat-name">
                {{ chat.peer }}
            </p>
            <p class="chat-msg">
                <strong>{% if chat.last_message.sender.pk == host_user.pk %}
                    You: {% endif %}</strong>{{ chat.last_message.text|truncatechars:40 }}
            </p>
        </div>
    </div>
</a>